@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantModel
@{
    ViewData["Title"] = "Client Restaurants";
}
<h2>Client Restaurants</h2>
@section Scripts{
    <environment exclude="npm Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <script>
        $(function () {
            $.ajax("/api/restaurants", { method: "get" })
                .then(function (response) {
                    console.log(response);
                });
        });
    </script>
}
